<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App</title>
    <!-- Styling -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

    <!-- JQuery Library -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <!--banner-->
    <section id="small-header" class="small-header">
        <div class="bg-color">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                            <a class="navbar-brand" href="#">
                                <h2 class="orange">BADECO</h2>
                            </a>
                        </div>
                        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">Home</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </section>
           
            {{{ body }}}
            <!--footer-->
            <footer id="footer">
                <div class="top-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 marb20">
                                <div class="ftr-tle">
                                    <h4 class="white no-padding">About Us</h4>
                                </div>
                                <div class="info-sec">
                                    <p>Praesent convallis tortor et enim laoreet, vel consectetur purus latoque penatibus et
                                        dis parturient.</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 marb20">
                                <div class="ftr-tle">
                                    <h4 class="white no-padding">Quick Links</h4>
                                </div>
                                <div class="info-sec">
                                    <ul class="quick-info">
                                        <li><a href="index.html"><i class="fa fa-circle"></i>Home</a></li>
                                        <li><a href="#service"><i class="fa fa-circle"></i>Service</a></li>
                                        <li><a href="#contact"><i class="fa fa-circle"></i>Appointment</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 marb20">
                                <div class="ftr-tle">
                                    <h4 class="white no-padding">Follow us</h4>
                                </div>
                                <div class="info-sec">
                                    <ul class="social-icon">
                                        <li class="bglight-blue"><i class="fa fa-facebook"></i></li>
                                        <li class="bgred"><i class="fa fa-google-plus"></i></li>
                                        <li class="bgdark-blue"><i class="fa fa-linkedin"></i></li>
                                        <li class="bglight-blue"><i class="fa fa-twitter"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-line">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">

                                <div class="credits">

                                    Elements borrowed from <a href="https://bootstrapmade.com/">BootstrapMade</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
</body>
<!--/ footer-->
{{!--
<script src="/assets/js/jquery.easing.min.js"></script>
<script src="/assets/js/custom.js"></script>--}}

</html>