<script src="/assets/js/custom.js"></script>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
    <!--banner-->
    <section id="banner" class="banner">
        <div class="bg-color">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="col-md-12">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">
                                <h2 class="orange">BADECO</h2>
                            </a>
                        </div>

                        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#banner">Home</a></li>
                                <li class=""><a href="#service">Services</a></li>
                                <li class=""><a href="#about">About</a></li>
                                <li class=""><a href="#testimonial">Testimonial</a></li>
                                <li class=""><a href="/login">Login</a></li>                                
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </nav>

    		<div class="container">
    			<div class="row">
    				<div class="banner-info">

    					<div class="banner-logo text-center">
    						<!--Replace below for logo-->
    						<h1 class="orange">BADECO</h1>
    					</div>

    					<div class="banner-text text-center">
    						<h1 class="white">Linking Employers and Employees in a Whole New Way</h1>
    						<p>We make it easy to to link together <i>free</i> employees<br>with employers who have work.<br>and vice versa!</p>
    					</div>

    					<div class="overlay-detail text-center">
    						<a href="#service"><i class="fa fa-angle-down"></i></a>
    					</div>

    				</div>
    			</div>
    		</div>

    	</div>
    </section>
<!--/ banner-->
<!--service-->
<section id="service" class="section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<h2 class="ser-title">Our Service</h2>
				<hr class="botm-line">
				<p>We know its hard to find good employees when you need them, and how hard it can be to find work when times are slow.</p>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="service-info">
					<div class="icon">
						<i class="fa fa-calendar-check-o"></i>
					</div>
					<div class="icon-info">
						<h4>Calendar View</h4>
						<p>We set everything into an organized calendar view to help visualize exactly who is available, and at what times.</p>
					</div>
				</div>
				<div class="service-info">
					<div class="icon">
						<i class="fa fa-clock-o"></i>
					</div>
					<div class="icon-info">
						<h4>Set your own availability</h4>
						<p>Set your available days directly into our calendar and </p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="service-info">
					<div class="icon">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-half-full"></i>
					</div>
					<div class="icon-info">
						<h4>View User Ratings</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua.
						</p>
					</div>
				</div>
				<div class="service-info">
					<div class="icon">
						<i class="fa fa-eye"></i>
					</div>
					<div class="icon-info">
						<h4>Easy to view skills</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--/ service-->

<!--about-->
<section id="about" class="section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-4 col-xs-12">
				<div class="section-title">
					<h2 class="head-title lg-line">optimized <br> layouts for <br> account types</h2>
					<hr class="botm-line">
					<p class="sec-para">Employers and Employees will have separate dashboards to view their results. Check out what we have set up for each!</p>
				</div>
			</div>
			<div class="col-md-9 col-sm-8 col-xs-12">
				<div style="visibility: visible;" class="col-sm-9 more-features-box">
					<div class="more-features-box-text">
						<div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
						<div class="more-features-box-text-description">
							<h3>Employer View</h3>
							<p>When logged in as an employeer you will be able to add available jobs to the schedule. In the job you can list the
								skills you require to complete it, how many helpers you would need. If the employee is available they can apply right
								through the site, letting you view all the applicants right on your dashboard.</p>

							<a href="/login" class="medi-info-btn">Login in as Employer</a>

						</div>
					</div>
					<div class="more-features-box-text">
						<div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
						<div class="more-features-box-text-description">
							<h3>Employee View</h3>
							<p>When logged in as an employee you will be able to see all available jobs that employers have entered, plus enter in
								your own availability! Employers can view your available days, and request your help by sending you a notification
								to your dashboard. You will then be able to view their raitings to decide if you want the job.</p>
							<a href="#" class="medi-info-btn">Coming Soon</a>
						</div>
					</div>
					<div class="more-features-box-text">
						<div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
						<div class="more-features-box-text-description">
							<h3>Star Rating System</h3>
							<p>After every job, the employeer and employee will be sent a form to rate the others performance. Did the employee show
								up on time? Were they as skilled as their profile stated? Did the employeer pay the agreed upon amount within the
								predefined window? Higher rated employees/employers will rise to the top and receive more jobs.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--/ about-->

<!--testimonial-->
<section id="testimonial" class="section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="ser-title">see what our users are saying!</h2>
				<hr class="botm-line">
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="testi-details">
					<!-- Paragraph -->
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
						aliqua.
					</p>
				</div>
				<div class="testi-info">
					<!-- User Image -->
					<a href="#"><img src="/assets/img/terraThumb.png" alt="" class="img-responsive"></a>
					<!-- User Name -->
					<h3>Terra<span>Taylor</span></h3>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="testi-details">
					<!-- Paragraph -->
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
						aliqua.
					</p>
				</div>
				<div class="testi-info">
					<!-- User Image -->
					<a href="#"><img src="/assets/img/DwightThumb.png" alt="" class="img-responsive"></a>
					<!-- User Name -->
					<h3>Dwight<span>Dove</span></h3>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="testi-details">
					<!-- Paragraph -->
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
						aliqua.
					</p>
				</div>
				<div class="testi-info">
					<!-- User Image -->
					<a href="#"><img src="/assets/img/RenzoThumb.png" alt="" class="img-responsive"></a>
					<!-- User Name -->
					<h3>Renzo<span>Gaspary</span></h3>
				</div>
			</div>
		</div>
	</div>
</section>

<!--/ testimonial-->
{{!-- <section id="login" class="section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-6">

				<form id="loginForm" class="form-signin">
					<h2 class="form-signin-heading">Please sign in or Register</h2>
					<label for="inputEmail" class="sr-only">Email address</label>
					<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
					<label for="inputPassword" class="sr-only">Password</label>
					<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
					
                    <div class="row">
    					<div class="col-md-6">
    					<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    						
    					</div>
    					<div class="col-md-6">
    					<a href="/register"><button class="btn btn-lg btn-danger btn-block" type="button">Register</button></a>
    						
    					</div>
                    </div>
				</form>
            </div>
		</div>			
	</div>	
</section> --}}

 <!--footer-->
            <footer id="footer">
                <div class="top-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 marb20">
                                <div class="ftr-tle">
                                    <h4 class="white no-padding">About Us</h4>
                                </div>
                                <div class="info-sec">
                                    <p>Praesent convallis tortor et enim laoreet, vel consectetur purus latoque penatibus et
                                        dis parturient.</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 marb20">
                                <div class="ftr-tle">
                                    <h4 class="white no-padding">Quick Links</h4>
                                </div>
                                <div class="info-sec">
                                    <ul class="quick-info">
                                        <li><a href="index.html"><i class="fa fa-circle"></i>Home</a></li>
                                        <li><a href="#service"><i class="fa fa-circle"></i>Service</a></li>
                                        <li><a href="#contact"><i class="fa fa-circle"></i>Appointment</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 marb20">
                                <div class="ftr-tle">
                                    <h4 class="white no-padding">Follow us</h4>
                                </div>
                                <div class="info-sec">
                                    <ul class="social-icon">
                                        <li class="bglight-blue"><i class="fa fa-facebook"></i></li>
                                        <li class="bgred"><i class="fa fa-google-plus"></i></li>
                                        <li class="bgdark-blue"><i class="fa fa-linkedin"></i></li>
                                        <li class="bglight-blue"><i class="fa fa-twitter"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-line">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">

                                <div class="credits">

                                    Elements borrowed from <a href="https://bootstrapmade.com/">BootstrapMade</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>


</body>
<!--/ footer-->



    
